PORT=4000
NODE_ENV=development
DATABASE_URL=postgresql://asplitdb_rmpg_user:Rdpl1Is2Exj3pf51grClHJvP65hWyXPf@dpg-dako68h594qs73f7ncv0-a.oregon-postgres.render.com/asplit_db
JWT_SECRET=tunmifoundedsplits1212
JWT_EXPIRES_IN=7d
RESEND_API_KEY=your_resend_api_key
RESEND_FROM_EMAIL=onboarding@resend.dev
COOKIE_SECURE=false
COOKIE_SAME_SITE=lax
